




<div class="info primary top" id="top">
  <h1 class="title">Python NLTK Chatbot</h1>
  <div class="info">
    <h2>Whispering Wall</h2>
    <img class="img-sm" src="../../assets/images/ww_2021.JPG" alt="Screenshot of a chat with Wiwa." />
    <div class="section-footer">
      <a href="https://nelliesnoodles.pythonanywhere.com/WIWA" target="_blank">Talk to Wiwa</a>

    </div>
  </div>
</div>


<div class="info primary top" id="top">
  <h1 class="title">Word Finder</h1>
  <div class="info">
    <h2>Check your word against Python Enchant</h2>
    <h3>Retrieve a definition</h3>
    <h3>Word Finder</h3>
    <img class="img-sm" src="../../assets/images/wf_2021.JPG" alt="Screenshot of a chat with Word Finder." />
    <div class="section-footer">
      <a href="https://nelliesnoodles.pythonanywhere.com/blog/word_finder" target="_blank">Find your word</a>

    </div>
  </div>
</div>


<div class="info primary top" id="top">
  <h1 class="title">Python on Github</h1>
  <div class="info">
    <h2>Past studies and Experiments</h2>

    <img class="img-sm" src="../../assets/images/cameleon.jpg" alt="A digital drawing of bright lizards on a hot pink backdrop." />
    <div class="section-footer">
      <a href="https://github.com/nelliesnoodles/PythonBinaryTree" target="_blank">Python Binary Tree</a>
      <a href="https://github.com/nelliesnoodles/pygame-paint" target="_blank">Pygame paint</a>
      <a href="https://github.com/nelliesnoodles/PythonDLL" target="_blank">Python Double Linked List</a>
      <h5>DLL repo includes a pytest file, and extra class that can print the contents of the list into the terminal.</h5>

    </div>
  </div>
</div>

<div class="info primary">

  <div class="info">
    <h2>Django Backend</h2>
    <h3>The Code Track</h3>
    <h3>My part in this team project was put together the Backend in Django.</h3>
    <h4>I am the sole administrator on this site.</h4>
    <img class="img-sm" src="../../assets/images/codetrack.JPG" alt="Screenshot of the Code Track welcome page" />
    <div class="section-footer">
      <a href="https://codequizplus.pythonanywhere.com/" target="_blank">Live: The Code Track</a>

    </div>
  </div>
</div>
