
<div class="full-center">
  

  <img class="backdrop" src="../assets/images/artpics2_LI.jpg" alt="An acrylic painting on canvas. I love studying and doing master copies of VanGoghs work. This is one of his more iconic self portraits." />
  <div class="info primary">


    <div class="info">

      <h1 class="foreground">Hello World.  I'm Nellie Tobey.</h1>
      
        <p>I love creating, and have a passion for solving problems.</p>
        <p>View numerous live projects in the Projects tab.</p>
        <p>Read about my codeing journey from my blog sites in the Writing tab.</p>
        <p>See the kinds of things Python and Django can do in the Python and Django tab.</p>
        <p>I am still seeking my first role in the information technology industry.</p>
        <p>Would you like to talk more?  Email me: nelliesnoodles42@gmail.com</p>
      
    </div>
  </div>
</div>
