




<div class="info primary top" id="top">
  <h1 class="title">Camel Case Noodles</h1>
  <h2>Started in 2017 as a blog about my codeing journey.</h2>
  <div class="info">
    <h2>Top Three active Posts: </h2>
    
    <div class="section-footer">
      <a href="https://camelcasenoodles.blogspot.com/2019/08/statistics-python-making-stem-plot.html"
         target="_blank">
         Python, Statistics, and a Stem Plot</a>
      <a href="https://camelcasenoodles.blogspot.com/2019/09/reverse-python-linked-list.html"
         target="_blank">
         Reverse a Python Linked List</a>
      <a href="https://camelcasenoodles.blogspot.com/2019/02/pandas-python-and-little-probability.html"
         target="_blank">
         Pandas, Python, and a little probability
      </a>
    </div>
  </div>
</div>

<div class="info primary top" id="top">
  <h1 class="title">Sarah is laughing</h1>
  <h2>Short stories and old posts from the way back.</h2>
  <div class="info">
    <h2>Stories: </h2>

    <div class="section-footer">
      <a href="https://sarahssmiling.blogspot.com/2014/06/bastille-short-1-of-2.html"
         target="_blank">
         Escape from Bastille
      </a>
      <a href="https://sarahssmiling.blogspot.com/2019/06/a-certain-flavor.html"
         target="_blank">
         A Certain Flavor
      </a>
      
    </div>
  </div>
</div>
