<app-nav></app-nav>

<router-outlet></router-outlet>

<footer>
  <mat-toolbar color="primary">
    <span> &#169; Nellie Tobey 2021</span>
    <div class="spacer"></div>
    <a class="twitter" href="https://twitter.com/intent/tweet?screen_name=NelliesNoodles&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false"><i class="fab fa-twitter-square"></i> @NelliesNoodles</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </mat-toolbar>
</footer>

