
<img class="backdrop" src="../../assets/images/color_wheel.png" />




<div class="info primary top" id="top">
  <h1 class="title">Github Projects</h1>
  <div class="info">
    <h2>Critical Space Strike</h2>
    <h3>A Javascript retro arcade style game.</h3>
    <div class="section-footer">
      <a href="https://nelliesnoodles.github.io/project_css2/" target="_blank">Play: Critical Space Strike</a>
      <a href="https://github.com/nelliesnoodles/project_css2" target="_blank">Github Repo</a>
    </div>
  </div>
</div>


<div class="info primary">

  <div class="info">
    <h2>Memory Match</h2>
    <h3>A Javascript Memory matching game.</h3>
    <div class="section-footer">
      <a href="https://nelliesnoodles.github.io/" target="_blank">Play: Memory Match Level 1</a>
      <a href="https://github.com/nelliesnoodles/nelliesnoodles.github.io" target="_blank">Github Repo</a>
    </div>
  </div>
</div>


<div class="info primary">

  <div class="info">
    <h2>Snake</h2>
    <h3>A Javascript retro arcade style game.</h3>
    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/JS_Snake/" target="_blank">Play: Snake</a>
      <a href="https://github.com/nelliesnoodles/JS_Snake" target="_blank">Github repo</a>
    </div>
  </div>
</div>



<div class="info primary">

  <div class="info">
    <h2>Clone: Google Fonts</h2>
    <h3>Clone project: Favorite Fonts</h3>
    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/Favorite_Fonts_Chingu_V15_prework/" target="_blank">Visit: Favorite Fonts</a>
      <a href="https://github.com/nelliesnoodles/Favorite_Fonts_Chingu_V15_prework" target="_blank">Github repo</a>
    </div>
  </div>
</div>

<div class="info primary">

  <div class="info">
    <h2>Observable Collison Detection</h2>

    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/collision/" target="_blank">Visit: Collision Demo</a>
      <a href="https://github.com/nelliesnoodles/collision" target="_blank">Github repo</a>
    </div>
  </div>
</div>


<div class="info primary">

  <div class="info">
    <h2>Calculator</h2>

    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/JS-Calculator/index" target="_blank">Try: Calculator</a>
      <a href="https://github.com/nelliesnoodles/JS-Calculator" target="_blank">Github repo</a>
    </div>
  </div>
</div>


<div class="info primary">

  <div class="info">
    <h2>JS Speech Synthesis</h2>
    <h3>Speech Syntesis is not available in some browsers (IE).</h3>

    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/speechinHTML.github.io/" target="_blank">Give it a go.</a>
      <a href="https://github.com/nelliesnoodles/speechinHTML.github.io" target="_blank">Github repo</a>
    </div>
  </div>
</div>


<div class="info primary">

  <div class="info">
    <h2>Learn Linked Lists</h2>
    <h3>Companion blogs in 'Writing' Tabs</h3>

    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/LinkedListsLevel2/" target="_blank">Give it a go.</a>
      <a href="https://github.com/nelliesnoodles/LinkedListsLevel2" target="_blank">Github repo</a>
    </div>
  </div>
</div>


<div class="info primary" id="bottom">

  <div class="info">
    <h2>Study: MadLibs</h2>
    <h3>Injecting User input data into an output</h3>

    <div class="section-footer">

      <a href="https://nelliesnoodles.github.io/LinkedListsLevel2/" target="_blank">Try it</a>
      <a href="https://github.com/nelliesnoodles/LinkedListsLevel2" target="_blank">Github repo</a>
    </div>
  </div>
</div>



