




<div class="info primary" id="top2" >
  <h1 class="title">Chingu Voyages</h1>
  <h2 class="title"> Team Work</h2>
  <div class="info">
    <h2>Voyage 10: Reboot</h2>
    <h3>Interactive Learning Quiz's</h3>
    <img class="img-sm" src="../../assets/images/quiz_preview_github.JPG" alt="Screenshot of three of the quizzes available at the link below"/>
    <div class="section-footer">
      <a href="https://codequizplus.pythonanywhere.com/" target="_blank">Live: Code Quiz</a>
      
    </div>
  </div>
</div>
<div class="info primary">
  
  <div class="info">
    <h2>Voyage 15</h2>
    <h3>The Code Track</h3>
    <img class="img-sm" src="../../assets/images/codetrack.JPG" alt="Screenshot of the Code Track welcome page" />
    <div class="section-footer">
      <a href="https://codequizplus.pythonanywhere.com/" target="_blank">Live: The Code Track</a>

    </div>
  </div>
</div>
<div class="info primary">

  <div class="info">
    <h2>Voyage 25</h2>
    <h3>Sound and Silence</h3>
    <img class="img-sm" src="../../assets/images/colorv25.JPG" alt="Screenshot of the Sound and Silence Color Wheel page." />
    <div class="section-footer">
      <a href="https://sound-and-silence.herokuapp.com/" target="_blank">Explore Accessibility</a>

    </div>
  </div>
</div>
